.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

.nav-text-color{
    color: gainsboro;
}

.modal-content{
background-color:cornflowerblue;
}

.filter-image{
    filter: grayscale(100);
}

h5{
  color:#252B42;

} 

.embed-responsive-item{

    min-height: 465px;
    border-radius: 20px;

}
